@font-face {
  font-family: 'Wondra';
  src: url('../font/wondra-font/Wondra-yYnJ2.otf') format('truetype');
}
h1{
  font-family: 'Wondra', serif;
  text-decoration: underline;
  margin: 6vw;
  font-size: 5vw;
}
.btn-dark {
  color: black;
  background-color: white;
  transition: transform 0.5s ease, background 0.5s ease;
}

.card {
  transition: transform 0.5s ease, background 0.5s ease;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 3vw;
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: contain;
  border-bottom: 1px solid #ddd;
}

.card-body {
  background-color: black;
  color: white;
  transition: background 0.5s ease, color 0.5s ease;
}

div > div > div > a > i {
  color: white;
}

.card:hover {
  transform: scale(1.10);
  background-color: white;
  color: black;
}

.card:hover .card-body {
  background: linear-gradient(-45deg, #000, #444, #000);
  background-size: 400% 400%;
  animation: gradientBG 5s ease infinite;
  color: white;
}

.card:hover .btn-dark {
  background: black;
  color: white;
}

.card:hover .card-title,
.card:hover .card-text {
  color: white;
}

.modal-footer,
.modal-header {
  background: black;
  color: white;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 840px) {

  .card:hover {
  transform: scale(1.0);
  background-color: white;
  color: black;
}
  .card{
  transform: scale(0.8);
  }
}